ul{
    margin-left: 500px;
    margin-right: 20px;
}
img {
   
    display: block;
    border-radius: 20px;
    width: 40%;
}
#text1 {
    text-align: center;
}
#nav {
    display: inline;
    margin: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#search-bar {
    list-style-type: none;
  margin: 0;
  padding: 0;
}